:root {
    --white: rgb(255, 246, 230);
    --green: rgb(37, 79, 26);
    --black: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--white);
    color: var(--green);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}